jobs/management/soap/wsdl/usermanagementimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserManagementImplService" targetNamespace="http://www.jobs.management.soap/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.jobs.management.soap/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.jobs.management.soap/service" schemaLocation="usermanagementimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="tns:getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="tns:getUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part name="parameters" element="tns:addUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part name="parameters" element="tns:updateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="parameters" element="tns:updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserManagementImpl">
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUser" message="tns:updateUser">
    </wsdl:input>
      <wsdl:output name="updateUserResponse" message="tns:updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="tns:getUser">
    </wsdl:input>
      <wsdl:output name="getUserResponse" message="tns:getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUser" message="tns:addUser">
    </wsdl:input>
      <wsdl:output name="addUserResponse" message="tns:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagementImplServiceSoapBinding" type="tns:UserManagementImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementImplService">
    <wsdl:port name="UserManagementImplPort" binding="tns:UserManagementImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/jobs.management.soap/services/UserManagementImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
